@import 'fonts';
@import 'base';
@import 'variables';
@import 'null';
@import 'animation';

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.main {
  flex: 1 1 auto;
}
